@media screen {
    body{
        font-family: 'Ubuntu', sans-serif;
    }
    #progress-table{
        position: relative;
        width: 100%;
        display: inline-block;
        /*background: lightsteelblue;*/

    }
    #progress-table > div{
        float: left;
        width: 38px;
        height: 32px;
        text-align: center;
        font-weight: bold;
    }

    #question{
        font-size: 28px;
    }
    #options > div{
        /*background: lightsteelblue;*/
        font-size: 22px;
    }
    #options > div:hover{
        background: #eeeeee;
        cursor: pointer;
    }
}