@media screen {
    body{
        font-family: 'Ubuntu', sans-serif;
        line-height: 1.3;
    }
    #progress-table{
        position: relative;
        width: 100%;
        display: inline-block;

    }
    #progress-table > div{
        float: left;
        width: /*38px*/12.5%;
        height: 32px;
        text-align: center;
        font-weight: bold;
    }

    #question{
        font-size: 28px;
    }
    #options > div{
        font-size: 22px;
    }
    #options > div:hover{
        background: #eeeeee;
        cursor: pointer;
    }

    .current{
        border: 1px solid black;
    }
}

@media screen and (max-width: 991px) {
    #question{
        font-size: large;
    }

    #options > div{
        font-size: medium;
        font-weight: bold;
        background-color: #f7f7f7;
        border: 1px solid #ededed;
    }

    #bottom-bar{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
    }

    nav{
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 991px) and (min-width: 575px){
    #bottom-bar{
        left: 0;
        margin-left: 0;
    }
    #progress-table > div{
        width: 5%;
    }
}
